@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --black: #0f0f0f;
    --white: #ffffff;
    --grey: #222222;
    --hr-grey: #363636;
}

body{
    font-family: "Roboto", sans-serif;
    background-color: var(--black);
}

html{
    overflow-y: hidden;
}

header{
    width: 100%;
    height: 55px;
    display: flex;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 1rem;
    justify-content: space-between;
}

.header-logo{
    display: flex;
    align-items: center;
    gap: 10px;
    padding:  15px 10px;
}

.header-logo a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    padding: 0px;
    border-radius: 50%;
}

.header-logo h1{
    font-family: "Barlow Condensed", sans-serif;
    font-size: 1.5rem;
    color: white;
    font-weight:600;
    text-align: center;
}

.main-logo img{
    width: 30px;
}

.main-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    width: 150px;
}

.header-logo span{
    color: white;
    width: 10px;
    height: 50px;
    font-size: 10px;
    padding-top: 10px;
    padding-right: 20px;
}

.header-logo a:hover{
    background-color: var(--grey);
}

.header-input{
    height: 45px;
    width: 60%;
    display: flex;
    justify-content: center;
    
}

.header-input input{
    height: 90%;
    width: 70%;
    border: 1.5px solid var(--grey);
    background-color: var(--black);
    padding: 15px;
    border-radius: 25px 0px 0px 25px;
    font-size: 0.9rem;
    z-index: 99999;
    position: relative;
    bottom: 5px;
    color: white;
}

.header-input input::placeholder{
    font-size: 0.9rem;
}

.header-input input:focus-visible{
    outline: none;
    border: 0.5px solid #3333f7;
}

.header-input img{
    background-color: var(--grey);
    padding: 5px 10px;
}

.search-bar{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar img{
    padding: 10px 20px;
    height: 41px;
    border-radius: 0px 25px 25px 0px;
}

.search-img{
    position: relative;
    bottom: 5px;
}

.header-input .mic-icon{
    padding: 10px;
    margin-left: 10px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.mic-icon{
    position: relative;
    bottom: 5px;
}

.header-input .mic-icon:hover{
    background-color: rgb(50, 50, 50);
    cursor: pointer;
}

.header-icons{
    position: relative;
    bottom: 7px;
    display: flex;
    gap: 15px;
    height: 40px;
    padding: 4px;
    width: 150px;
}

.header-icons img{
    border-radius: 50%;
    height: 120%;
    padding: 6px;
}

.pointer{
    cursor: pointer;
}

.header-icons img:hover{
    background-color: var(--grey);
}

.header-icons .pfp:hover{
    background-color: var(--black);
}

main{
    display: flex;
    gap: 5px;
}

nav{
    user-select: none;
    width: 232px;
    height: calc(100vh - 55px);
    display: flex;
    overflow-y: hidden;
    flex-shrink: 0;
    flex-direction: column;
    padding: 12px;
    transition:  all 0.2s ease;
}

nav::-webkit-scrollbar{
    width: 8px;
}

nav::-webkit-scrollbar-thumb {
    background:#696969;
}

nav:hover{
    overflow-y: auto;
}


.side-bar{
    width: 95%;
    padding: 7px 8px;
    display: flex;
    align-items: center;
    color: #e5e5e5;
    gap: 22px;
    font-weight: 400;
}
.side-bar span{
    font-size: 0.9rem;
}

.side-bar img{
    height: 27px;
    width: 25px;
}

.side-bar:hover{
    background-color: #222222;
    border-radius: 10px;
}

.divider{
    border: 1px solid var(--hr-grey);
    width: 100%;
    margin: 10px 0px;
}

.side-heading{
    width: 95%;
    padding: 7px 8px;
    display: flex;
    align-items: center;
    color: #e5e5e5;
    gap: 8px;
    font-weight: 600;
}

.side-heading:hover{
    background-color: #222222;
    border-radius: 10px;
}

.side-heads{
    width: 95%;
    padding: 7px 8px;
    display: flex;
    align-items: center;
    color: #e5e5e5;
    gap: 8px;
    font-weight: 600;
}

.rounded{
    border-radius: 50%;
}

.side-bar-footer a{
    text-decoration: none;
    color: #888585;
    font-size: 12px;
    line-height: 20px;
}

.side-bar-end{
    color: #717171;
    font-size: 11px;
    text-align: center;
}

.sug-section{
    width: calc(100vw-232px);
    height:calc(100% - 72px);
    overflow-x: hidden;
}

.suggestions{
    overflow-y: hidden;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 12px 27px;
    gap: 11px;
    width: 100%;
    overflow-x: scroll;
}

.suggestions::-webkit-scrollbar{
    width: 0px;
}

.suggestion-cards{
    white-space: nowrap;
    border-radius: 8px;
    height: 33px;
    padding: 0px 12px;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e6e6e6;
    background-color: #272727;
    font-size: 14px;
    font-weight: 500;
    transition: background-color 0.3s ease;
}


.suggestion-cards:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255,0.2);
}

.video-container{
    overflow-y: scroll;
    width:calc(100% -232px);
    height:480px;
    overflow-x: hidden;
    padding: 5px 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.video-container::-webkit-scrollbar{
    width: 5px;
}

.video-container::-webkit-scrollbar-thumb{
    background: grey;
}

.video-meta{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    padding-top: 13px;
}


.video-card{
    width: fit-content;
    height: fit-content;
    max-width: 345px;
    margin-top: 10px;
}

.thumbnail img{
    border-radius: 10px;
    width: 100%;

}

.thumb-logo img{
    height: 35px;
    border-radius: 50%;
    margin: 0px 0px;
}

.title span{
    color: #f1f1f1;
    font-size: 16px;
    line-height: 20px;
}

.channel-name{
    display: flex;
    align-items: center;
}

.channel-name span{
    color: #868686;
    font-size: 14px;
    line-height: 12px;
    transition: color 0.1s ease;
}

.channel-name span img{
    position: relative;
    top: 2px;
    height: 16px;
}

.channel-name span:hover{
    color: white;
}

.views-and-date span{
    color: #868686;
    font-size: 14px;
    line-height: 12px;
}

.views-and-date img{
    height: 10px;
}

.video-container span{
    text-align: center;
}

.thumb-info{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.more-icon img{
    border-radius: 50%;
    transition: all 0.3s ease;
}

.more-icon img:hover{
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.4);
}